h1 {
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  /* grid-template-rows: minmax(70px, 1fr); */
  grid-auto-flow: row;

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
}
